[submodule "c3-simulator"]
	path = c3-simulator
	url = https://github.com/intellabs/c3-simulator
[submodule "tests/c3_tests/c3-safeside"]
	path = tests/c3_tests/c3-safeside
	url = https://github.com/jrdek/c3-safeside
